# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Python cache
__pycache__/

# Executables
*.exe
*.out
*.app
build/
lib/
tools/eval/v0/
tools/eval/v1/
tools/Hessian/v0/
tools/Hessian/v1/
tools/RMSD/v0/
tools/RMSD/v1/
tools/critics/v0/
tools/critics/v1/
tools/vibration/v0/
tools/vibration/v1/

# Back up
BAK/
